@font-face {
    font-family: 'Poppins';
    /* Replace with your preferred font name */
    src: url('../Poppins/Poppins-Light.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    /* Replace with your preferred font name */
    src: url('../Inter/static/Inter-Light.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Irish grover';
    /* Replace with your preferred font name */
    src: url('../Irish_Grover/IrishGrover-Regular.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    /* Replace with your preferred font name */
    src: url('../Lexend/static/Lexend-Light.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bills';
    /* Replace with your preferred font name */
    src: url('../Stick_No_Bills/static/StickNoBills-ExtraBold.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    cursor: default;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #533B2F;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav ul li {
    margin-right: 2%;
    text-decoration: none;
    color: #fff;
}






.first-vue {
    position: relative;
    /* background-image: url('./cupimage2.jpg') ; */
    height: 37vh;
    padding-top: 180px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    backdrop-filter: blur(10px);
}

.first-vue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../loc1.png');
    /* filter: blur(3px); */
    /* Adjust the blur amount as needed */
    z-index: -1;
    /* Place the pseudo-element behind the content */
    background-size: cover;
}

.first-vue h1 {
    font-size: 65px;
    /* font-weight: 700; */
    font-family: 'Bills';
    width: 100%;
    text-align: center;
}

.second-vue {
    position: relative;
    height: 100vh;
    background-image: url(../plan2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-vue .paneau {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    right: 0;
    background-color: rgba(237, 237, 237, 0.87);
    height: 100%;
    width: 333px;
    text-align: center;
}

.second-vue .paneau button {
    background-color: #8F614E;
    color: #fff;
    width: 256px;
    height: 39px;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
}

.second-vue .paneau p {
    width: 256px;
    height: 506px;
    background-color: rgba(255, 255, 255, 0.93);
    color: #715347;
    text-align: center;
    font-family: 'Poppins';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 35px;
}






.seventh-vue {
    position: relative;
    font-family: 'Lexend';
    /* background-image: url('./cupimage2.jpg') ; */
    height: 100vh;
    color: #fff;
    backdrop-filter: blur(10px);
    padding-top: 70px;
}

.seventh-vue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../fill7.png');
    /* filter: blur(3px); */
    /* Adjust the blur amount as needed */
    z-index: -1;
    /* Place the pseudo-element behind the content */
    background-size: cover;
}

.seventh-vue>h1 {
    font-family: 'Lexend';
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 127.023%;
    letter-spacing: -1.575px;
    text-align: center;
    margin-bottom: 55px;
}


.se-container {
    background-color: rgba(29, 23, 20, 0.84);
    width: 100%;
    height: 90%;
    margin-top: 2%;
}

.se-sub-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding-top: 7%;
    padding-left: 2%;
}

.se-sub-container li {
    list-style: none;
}

.se-sub-container li ul {
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-size: 20px;
}