@font-face {
    font-family: 'Praise';
    /* Replace with your preferred font name */
    src: url('../Praise/Praise-Regular.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    /* Replace with your preferred font name */
    src: url('../Poppins/Poppins-Light.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    /* Replace with your preferred font name */
    src: url('../Inter/static/Inter-Light.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Irish grover';
    /* Replace with your preferred font name */
    src: url('../Irish_Grover/IrishGrover-Regular.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    /* Replace with your preferred font name */
    src: url('../Lexend/static/Lexend-Light.ttf') format('truetype');
    /* Provide the correct path to your .ttf file */
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    cursor: default;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    position: absolute;
    z-index: 500;
    
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav ul li {
    margin-right: 8%;
}



.first-vue {
    position: relative;
    /* background-image: url('./cupimage2.jpg') ; */
    height: 250vh;
    padding-top: 180px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    backdrop-filter: blur(10px);
}

.first-vue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 102%;
    background-image: url('../menufill.jpg');
    /* filter: blur(3px); */
    /* Adjust the blur amount as needed */
    z-index: -1;
    /* Place the pseudo-element behind the content */
    background-size: cover;
    background-position: -460px 0px;
    background-repeat: no-repeat;
}

.first-vue h1 {
    color: #752900;
    text-align: center;
    font-family: 'Poppins';
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 5.52px;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    padding: 90px;
}

.card>h1 {
    color: #100502;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 153%;
    letter-spacing: 10.4px;
    text-transform: capitalize;
    border-top: 1px solid black;
    border-bottom: 1px dashed black;
}

.card .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card .line h2 {
    color: rgba(31, 12, 12, 0.80);
    text-align: left;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 153%;
    letter-spacing: 0.55px;
    text-transform: capitalize;
}

.card .line div p {
    color: rgba(31, 12, 12, 0.80);
    font-family: Praise;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%;
    /* 18.36px */
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.card .line>p {
    color: rgba(31, 12, 12, 0.80);
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 153%;
    letter-spacing: 0.55px;
    text-transform: capitalize;
}

.cimage,.cimage2 {
    width: 390.146px;
    height: 290.461px;
    border-radius: 12px;
    position: absolute;
}
.cimage{
    left: 66%;
    top: 1150px;
    z-index: 2;
}
.cimage2{
    left: 55%;
    top: 1050px;
    z-index: 3;
}
.seventh-vue {
    position: relative;
    font-family: 'Lexend';
    /* background-image: url('./cupimage2.jpg') ; */
    height: 100vh;
    color: #fff;
    backdrop-filter: blur(10px);
    padding-top: 70px;
}

.seventh-vue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../fill7.png');
    /* filter: blur(3px); */
    /* Adjust the blur amount as needed */
    z-index: -1;
    /* Place the pseudo-element behind the content */
    background-size: cover;
}

.seventh-vue>h1 {
    font-family: 'Lexend';
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 127.023%;
    letter-spacing: -1.575px;
    text-align: center;
    margin-bottom: 55px;
}


.se-container {
    background-color: rgba(29, 23, 20, 0.84);
    width: 100%;
    height: 90%;
    margin-top: 2%;
}

.se-sub-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding-top: 7%;
    padding-left: 2%;
}

.se-sub-container li {
    list-style: none;
}

.se-sub-container li ul {
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-size: 20px;
}